<table class="forum round">
	<tr class="header">
		<th class="description"><%= forum.name %> </th>
		<th>Threads</th>
		<th> Posts </th>
		<th class="last_post"> Last post </th>
	</tr>
	<% if !forum.forums.blank? %>
	  <% for subforum in forum.forums %>
	    <tr class="forum round">
			<td class="description description_<%= last?(subforum, forum.forums) %>"> 
				<%= link_to subforum.name, subforum %>  <br />
				<%= subforum.description %>
			</td>
			<td class="threads"></td>
			<td class="posts"></td>
			<td class="last_post last_post_<%= last?(subforum, forum.forums) %>"></td>
		</tr>
	  <% end %>
	<% end %>
</table>
		