<%= form_for @forum do |f| %>
	<%= render 'shared/errors', :errors => @forum.errors, :model => @forum %>
	<div class="field">
	<%= f.label :name %> <br />
	<%= f.text_field :name %>
	</div>
	<div class="field">
	<%= f.label :description %> <br />
	<%= f.text_field :description %>
	</div>
	<div class="field">
	<%= f.label :parent_id %><br />
	<%= f.select(:parent_id, Forum.not_too_nested.collect { |forum| [forum.name, forum.id]  }, {:include_blank => ' '}) %>
	</div>
	<div class="actions">
	<%= f.submit "create forum"%>
	<%= link_to 'Back', forums_path %>
	</div>
<% end -%>