<%=  form_for ([@forum, @topic]) do |f| -%>
<%= render 'shared/errors', :errors => @topic.errors, :model => @topic%>
  <div class="field">
		<%= f.label :title %> <br />
		<%= f.text_field :title%>
	</div>
	<div class="field">
		<%= f.label :content %> <br />
		<%= f.text_area :content, :class =>"mceEditor" %>
		<a href="#" onclick="tinyMCE.execCommand('mceToggleEditor',false,'topic_content');">[Toggle WYSIWYG]</a>
	</div>
	<div class="actions">
		<%= f.submit @submit %>	
<% end -%>
